[Unit]
Description=Daily backup of cleonhardt Magnolia production data
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/opt/cleonhardt/deploy/backup.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

